<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	">
	
	<!--服务层配置 -->
	<import resource="classpath:/spring/springMVC-service.xml" />
	
	<!--AOP配置,三种配置，每次选一种 -->
	  <!-- 代理配置 -->
<!--	  <import resource="classpath:/spring/springMVC-aop-proxy.xml" />   --> 
	  
	  <!-- 自动代理配置 -->
<!--	  <import resource="classpath:/spring/springMVC-aop-autoproxy.xml" />	 -->
	  
	  <!-- aop标签配置 -->
	  <import resource="classpath:/spring/springMVC-aop-cfg.xml" />		
	
	
	
</beans>